.new-items-wrapper {
  display: grid;
  width: 275px;
  height: 60%;
  align-content: start;
  justify-content: center;
  padding: 30px;
  text-align: center;
  outline: 1px solid black;
  border-radius: 10px;
  grid-column: 1 ;
  grid-row: 1 / span 6;
  background-color: white;
  margin-left: 10px;
  margin-top: -120px;
};

.inv-print-wrapper {
  display: grid;
  grid-column: 2 / span 2;
  width: 95%
};

.heading-wrapper {
  grid-column: 2;
  width: 90%;
};

.date-wrapper {
  grid-column: 3;
  width: 90%;
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
};

input[class^=items] {
  width: 48%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
};

input.items-2 {
  margin-right: 8px;
};

button[class=items-button] {
  width: 100%;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(184, 229, 177);
  color: black;
};

.items-button:hover {
  background-color: rgba(225, 241, 222, 0.901);
};

textarea[class=items] {
  width: 100%;
  height: 50px;
  padding: 8px 20px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  // box-sizing: border-box;
  // resize: none;
  font-size: 13px;
  text-align: center;
  padding-top: 11px;
}

textarea[class=input-2] {
  width: 100%;
  height: 50px;
  padding-top: 4px;
  margin-top: 8px;
  border: 1px solid #ccc;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  width: 90%;
  border-radius: 4px;
  text-align: center;
};
