@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100..900');

body {
  /* margin: 0; */
  font-family: 'Outfit';
  font-weight: 100;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* weather */

[class^='wea-item']:nth-child(-n+7) {
  border-top: none;
}

[class^='wea-item']:nth-child(7n) {
  border-right: none;
}

[class^='wea-item']:nth-child(-n+7) {
  color: gray;
}

[class^='wea-item']:nth-last-child(-n+7) {
  background-color: rgba(100, 99, 99, 0.71);
} 

/* short term rental */

[class^='wea-item'] {
  display: flex;
  /* border-top: 4px solid white; */
  border-right: 4px solid white;;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: none;
  font-weight: 600;
}

[class^='list-item'] {
  display: grid;
  border-right: 4px solid white;
  padding: none;
}

.list-item-cal {
  grid-row: 2;
  grid-column: 1/7;
}

.list-item-cal-7, .list-item-cal-14, .list-item-cal-21, .list-item-cal-28, .list-item-cal-35, .list-item-cal-42 {
  border-right: none;
}

.list-item-cal-1, .list-item-cal-2, .list-item-cal-3, .list-item-cal-4, .list-item-cal-5, .list-item-cal-6, .list-item-cal-7 {
  border-bottom: 3.5px solid rgb(255, 255, 255);
}

[class^='list-item-cal']:nth-last-child(-n+28) {
  border-top: 3.5px solid white;
}

.cal-bg {
  background-color: rgba(100, 99, 99, 0.309);
  /* background-color: rgba(221, 221, 172, 0.828); */
}

.cal-cap {
  display: grid;
  margin-top: 5px;
  justify-items: center;
  font-weight: 500;
  font-size: 15px;
  color: rgba(100, 99, 99, .95);
}

.cal-month {
  display: grid;
  /* border-right: 4px solid white; */
  grid-row: 1;
  grid-column: 1/8;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 16px;
  border-right: none;
};

.cal-text {
  margin-bottom: 5px;
  font-size: 15px;
};

[class^='wea-item']:nth-child(7n) {
  border-right: none;
}

.list-item-14 {
  border-bottom: none;
}

p.date {
  margin-bottom: 0;
  font-size: 11px;
  margin-left: 3px;
}

[class='date']:nth-last-child(-n+28) {
  font-weight: 400;
}

p.prop-percent {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  justify-self: center;
  font-weight: 600;
}

.sm-day {
  font-size: 10px;
}
/* [class^='event-item'] {
  border-right: 1px solid black;
}  */

input[class=inv] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* button[class=inv-button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

button[class=nav-1] {
  width: 45%;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=nav-2] {
  width: 45%;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  font-weight: 500;
  font-size: 15px;
  display: grid;
  justify-self: end;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button[class=inv-list-btn-mmm] {
  width: 150px;
  height: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
} */

button[class=nav-3] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button[class=inv-button]:hover {
  background-color: rgba(100, 99, 99, 0.71);
} */

.logo {
  width: 60%;
  height: auto;
  display: absolute;
  align-self: center;
}


/* input[class=items] {
  width: 48%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
} */

/* input[class=input-3] {
  width: 100%;
  margin: 8px 0;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
} */

/* input[class=items]::placeholder {
  text-align: center;

} */

input[class=input-1] {
  width: 48%;
  height: 35px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* textarea {
  width: 100%;
  height: 50px;
  padding: 8px 20px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
  text-align: center;
  padding-top: 11px;
} */

img {
  display: flex;
  width: 100%;
  height: 100%;
  resize: none;
}

textarea[class=input-2] {
  height: 35px;
  width: 90%;
}

/* button[class=items-button] {
  width: 100%;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

button[class=up-btn] {
  width: 150px;
  height: 60%;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=delete] {
  width: 75px;
  height: 25px;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

button[class^=det-btn] {
  width: 200px;
  background-color: rgba(100, 99, 99, 0.71);
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button[class=inv-list-btn] {
  width: 150px;
  height: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
} */
/* 
.inv-list-btn-container {
  margin: -50px;
  
} */

.img-container {
  display: grid;
  justify-items: center;
}

