body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(247, 243, 236); */
  background-color: rgba(238, 235, 227, 0.989);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* [class^='cal-item'] {
  display: flex;
  border-top: 4px solid white;
  border-right: 4px solid white;
  justify-content: center;
  align-items: center;
  font-size: px;
  font-weight: 600;
  padding: none;

} */

/* .cal-item-19 {
  background-color: rgb(219, 214, 214);
}

.cal-item-20 {
  background-color: rgb(254, 232, 218);
}

.cal-item-23 {
  background-color: rgb(254, 232, 218);
}

.cal-item-29 {
  background-color: rgb(254, 232, 218);
} */

/* [class^='cal-item']:last-child {
  border-right: 1px solid black;
  
}

[class^='cal-item']:nth-last-child(-n+7) {
  grid-row: 5;
 
} */

/* [class^='cal-item']:nth-child(-n+7) {
  grid-row: 1;
  border-top: none;
}

[class^='cal-item']:nth-child(7n) {
  border-right: none;
} */

/* weather */

[class^='wea-item']:nth-child(-n+7) {
  border-top: none;
}

[class^='wea-item']:nth-child(7n) {
  border-right: none;
}

[class^='wea-item']:nth-child(-n+7) {
  color: gray;
}

[class^='wea-item']:nth-last-child(-n+7) {
  background-color: rgba(128, 128, 128, 0.309);
} 

/* short term rental */

[class^='wea-item'] {
  display: flex;
  /* border-top: 4px solid white; */
  border-right: 4px solid white;;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: none;
  font-weight: 600;
}

[class^='list-item'] {
  display: grid;
  border-right: 4px solid white;
  padding: none;
}

[class^='list-item']:nth-child(7n) {
  border-right: none;
} 

[class^='list-item-cal']:nth-child(-n+7) {
  /* border-bottom: 4px solid white; */
  background-color: rgba(100, 99, 99, 0.309);
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

[class^='list-item-cal']:nth-last-child(-n+28) {
  border-top: 3px solid white;
}

/* [class^='list-item-cal']:nth-last-child(-n+35) {

} */

.list-item-14 {
  border-bottom: none;
}

p.date {
  margin-bottom: 0;
  font-size: 11px;
}

[class='date']:nth-last-child(-n+28) {
  font-weight: 400;
}

p.prop-percent {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  justify-self: center;
  font-size: 18px;
  font-weight: 600;
}

.sm-day {
  font-size: 10px;
}
/* [class^='event-item'] {
  border-right: 1px solid black;
}  */

input[class=inv] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[class=inv-button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=nav-1] {
  width: 45%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=nav-2] {
  width: 45%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=nav-5] {
  width: 61%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

button[class=nav-6] {
  width: 61%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=inv-list-btn-mmm] {
  width: 150px;
  height: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button[class=nav-3] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=inv-button]:hover {
  background-color: #45a049;
}

.logo {
  width: 60%;
  height: auto;
  display: absolute;
}


input[class=items] {
  width: 48%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[class=input-3] {
  width: 100%;
  margin: 8px 0;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[class=items]::placeholder {
  text-align: center;

}

input[class=input-1] {
  width: 48%;
  height: 35px;
  margin: 8px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 8px 20px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
  text-align: center;
  padding-top: 11px;
 
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  resize: none;
}

textarea[class=input-2] {
  height: 35px;
  width: 90%;
}

button[class=items-button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=up-btn] {
  width: 150px;
  height: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=delete] {
  width: 75px;
  height: 25px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

}

button[class^=det-btn] {
  width: 200px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[class=inv-list-btn] {
  width: 150px;
  height: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.inv-list-btn-container {
  margin: -50px;
  
}

[class^='itemCard'] {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 250px;
  height: 170px;
  border: 6px rgb(248, 247, 247);
  box-shadow: 0 0px 10px 0 rgba(247, 243, 243, 0.459), 20px 6px 25px 0 rgba(77, 76, 76, 0.25);
  /* background-color: rgb(223, 238, 206);  */
  /* background-color: rgba(255, 255, 255, 0.785); */
}

.itemCard-1:hover {
  transform: scale(1.04);
  transition: all 0.5s ease;
  /* background-color: rgba(244, 241, 238, 0.515); */
}

.itemCard-2 {
  overflow-y: scroll;
}

td[class=list-values] {
  padding-left: 20px;
}

